/* Customize component styles */
:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
